.mobile{
  & .app-breadcrumb{
    display: none !important;
  }
  & .main-container{
    margin-left: 0 !important;
  }

  & .gre-sidebar{
    //position: fixed !important;
    //top: 0 !important;
    display: none !important;
  }
  & .main-header{
    width: 100vw !important;
  }
  & .without-transition{
    transition: none;
  }
}
